*
!.gitignore
!.p10k.zsh
!.tmux.conf
!.zshrc
!.zprofile
!.tcshrc
!.bash_profile
!.config
!.config/alacritty
!.config/alacritty/**/*
!.config/nvim
!.config/nvim/**/*
!.config/thefuck
!.config/thefuck/**/*
!.config/yabai
!.config/yabai/**/*
!.config/sketchybar
!.config/sketchybar/**/*
!.config/fish
!.config/fish/**/*
!.config/skhd
!.config/skhd/**/*
!.config/scripts
!.config/scripts/**/*
